version: '3.8'

services:
  postgres-economatic:
    image: postgres
    container_name: economatic-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=economatic
      - PGDATA=/data/postgres
    expose:
        - "5432"
    ports:
      - "5432:5432"
    command: -p 5432
    restart: unless-stopped
  economatic:
    image: thorold/economatic
    container_name: economatic
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-economatic:5432/economatic
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=pass
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
    depends_on:
      - postgres-economatic
    restart: unless-stopped