.legendary {
  color: orange;
}

.epic {
  color: #A335EE;
}

.rare {
  color: #0170D0;
}

.uncommon {
  color: #15FF06;
}

.common {
  color: white;
}

.poor {
  color: gray;
}

.server-stat {
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
  margin-left: 10px;
  width: 100%;
}
.server-overview-box {
  padding: 20px;
  height: 300px;
  width: 400px;
  background: #383633;
}